.required-fields {
    color: red;
}

.div-fundacion {
    width:50%;
}

.div-buttons {
    text-align: right;
}

.buttons-acciones {
    width: 20% !important;
    margin-left: 2% !important;
}

.options-disabled {
    background-color: gray;
}

.options-enabled {
    background-color: white;
}

.div-grid {
    margin-top: 2%;
}

.div-col {
    width:50%;
}